html {
  height:100%;
}

nav li {
  display:inline;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;

}

nav {
  background-color: #1d98cd;
  padding: 30px 16px;
  display: flex;
}

nav li {
  list-style-type: none;
  background-color: #1d98cd;
}

.nav {
  display: inline;
  color: white;
  text-align: center;
  padding: 15px 16px;
  margin:20px;
  text-decoration: none;
  background-color:  #2980a6  ;
}

nav a {
  border:1px solid  #2980a6 ;
  border-radius: 44px;
  width:100%;
}

a:hover {
  background-color:#1d98cd;
}

body {
  padding:0;
  margin:0;
  height:100%;
  width:100%;
  font-family:"Avantgarde", sans-serif;
}

.contenu {
    margin-right: 3%;
    width:100%;
    height:100%;


}

.fond {
  background-image: url("files/IMG_20191216_163216.jpg");
  background-size: cover;
}

.container {
  margin-left:3%;
}

.text {
  margin-left: 3%;
  color: #1d98cd;
}

.recherche {
  width:50px;
  height: 30px;
  border-radius:15px;
}

.loupe {
  height:13px;
  width:13px;
}

.logo {;
  height:20px;
  width:20px;
}

.formation {
  margin-left:20em;
}

.formation, .region, .information {
  margin-right: 50px;
}

input {
  width:70%;
  height: 30px;

  border-radius:15px;
}

.search {
  display:inline;
}

.gloupe {
  margin-bottom: -11px;
  height: 30px;
  width: 30px;
}

hr {
  width:90%;
}

select {
  width:500px;
}

.test{
  display: flex;
}

#mapid {
  height: 650px;
  width:100%;
  margin-bottom:10%;
  position: sticky !important;
  display:flex;
}
/* General button style */
.btn {
    border: none;
    font-family: 'Lato';
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before {
    font-family: 'FontAwesome';
    speak: none;inline
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}


/* Icon separator */
.btn-sep {
    padding: 25px 60px 25px 120px;
}

.btn-sep:before {
    background: rgba(0,0,0,0.15);
}

/* Button 1 */
.btn-1 {
    background: #3498db;
    color: #fff;
}

.btn-1:hover {
    background: #2980b9;
}

.btn-1:active {
    background: #2980b9;
    top: 2px;
}

.btn-1:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
}

/* Icons */
.icon-info:before {
    content: "\f002";
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.form {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #2980b9;
  overflow: hidden;
  border-radius: .25em;
}
select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}
/* Arrow */
.form::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #2980b9;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.form:hover::after {.fond
  color: #f39c12;
}


.rech {
  display:inline;
  width:70%;
  height:20%;
}

.small {
  display:inline;
  width:300px;
  height:30px;
}

.gloupe2 {
  margin-bottom: -11px;
  height: 30px;
  width: 30px;
}

table, th, td {
  border: 1px solid #1d98cd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

h1, h2, h3 {
  color:#1d98cd;
}

.right {
  margin-right: 3%;
}

table {
  border-collapse: collapse;
}

.left {
  width:70%;
  margin-right:3%;
}

.map {
  display:block;
  margin-right: 3%;
  margin-left:3%;
}

footer {
  position : fixed;
  top : auto;
  bottom: 0;
  padding: 0.7rem;
  color: #d73444;
  background-color: #1d98cd;
  width: 100%;
}

footer a {
  text-align: center;
  color: white;
}

footer p {
  text-align: center;
  color:white;
}

.research {
  text-align: -moz-center;
  margin-bottom:5%;
}

.result_tab {
  height: 600px;
  overflow: auto;
}

label {
  color:white;
}

.fond2 {
  background-image: url("files/IMG_20200220_163002.jpg");
  background-size: cover;
}


.wrapper{
  margin:3em 0;
}
.wrapper a,.wrapper a:visited,.wrapper a:hover,.wrapper a:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
	position:relative;
  transition:0.5s color ease;
	text-decoration:none;
	color:white;
}

footer a,footer a:visited,footer a:hover,footer a:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
	position:relative;
  transition:0.5s color ease;
	text-decoration:none;
	color:white;
}

.nav a,.nav a:visited,.nav a:hover,.nav a:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
	position:relative;
  transition:0.5s color ease;
	text-decoration:none;
	color:white;
}



.wrapper a:hover, footer a:hover{
	color:#d73444;
}


a.before:before,a.after:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
}

a.before:before{
  top:-0.25em;
}
a.after:after{
  bottom:-0.25em;
}
a.before:before,a.after:after{
  height:5px;
  height:0.35rem;
  width:0;
  background:#d73444;
}

a.before:hover:before,a.after:hover:after{
  width:100%;
}
.square{
  box-sizing:border-box;
  margin-left:-0.4em;
  position:relative;
  font-size:1.5em;
  overflow:hidden;
}
.square a{
  position:static;
  font-size:100%;
  padding:0.2em 0.4em;
}

.square:before,.square:after{
  content: "";
  box-sizing:border-box;
  transition:0.25s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
  width:5px;
  width:0.35rem;
  height:0;
  background:#d73444;
}
.square:before{
  left:0;
  bottom:-0.2em;
}
.square.individual:before{
  transition-delay:0.6s;
}
.square:after{
  right:0;
  top:-0.2em;
}
.square.individual:after{
  transition-delay:0.2s;
}
.square a:before{
  left:0;
  transition:0.25s all ease;
}
.square a:after{
  right:0;
  transition:0.25s all ease;
}
.square.individual a:after{
  transition:0.25s all ease 0.4s;
}

.square:hover a:before,.square:hover a:after{
  width:100%;
}

.infos {
  width:auto;
}

/*.contenu {
  background-image: url(files/crayon1.jpeg);
  background-repeat:no-repeat;
  background-position:50% 50%;
  background-size: 75% 100%;
  height:100%;
}*/
