.fond2 h1, h2, h3 {
  color:#d73444;
}

.square li {
  color:white;
}

.fond3 {
  background-color: #374846;
}

.medal1 {
  list-style-image: url("files/medal.png");
}

.medal2 {
  list-style-image: url("files/medal2.png");
}
.medal3 {
  list-style-image: url("files/medal3.png");
}

.formas {
  margin-bottom:10%;
}
